extends layout

block content
  h1= title
    p Chat for Class #{className}

  div(id="chatWrapper")
    div(id="messages")

    form(action="" data-room="#{className}")
      input(id="message" class="chat" data-id="#{id}" autocomplete="off")

  div(id="whiteboardWrapper")
    div(id="whiteboardButton") Draw On Whiteboard
    canvas(id="whiteboardCanvas")
      p Unfortunately, your browser is currently unsupported by our web application. We are sorry for the inconvenience. Please use one of the supported browsers listed below, or draw the image you want using an offline tool.</p>
      p Supported browsers:
        a(href="http://www.opera.com")= Opera
        a(href="http://www.mozilla.com")= Firefox
        and a(href="http://www.apple.com/safari")= Safari

  script(src="https://cdn.socket.io/socket.io-1.2.0.js")
  script(src="../bower_components/jquery/dist/jquery.min.js")
  script(src="../bower_components/fabric/dist/fabric.min.js")
  script.
    $( document ).ready(function() {
        $('#whiteboardButton').on('click', function(){
          alert('yay');
        })
    });

  script.
    var socket = io();
    $('form').submit(function(){
      socket.emit('chat message', $('#message').val(), $('form').data('room'));
      $('#message').val('');
      return false;
    });
    socket.on($('form').data('room') + ' message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });

  script(src="../javascripts/canvas.js")